<h1>Book</h1>
<ul>
  <li>Title: <%= @book.name %></li>
  <li>Author: <%= @book.author %></li>
  <li>Genre: <%= @book.genre %></li>
  <li>Pages: <%= @book.pages %></li>
  <li>Year: <%= @book.year %></li>
</ul>
<%= link_to 'books page', '/books' %>
