
  <p>Title: <%= @title %></p>
  <p>Year: <%= @year %></p>
  <p>Rated: <%= @rated %></p>
  <p>Released: <%= @released %></p>
  <p>Runtime: <%= @runtime %></p>
  <p>Genre: <%= @genre %></p>
  <p>Director: <%= @director %></p>
  <p>Writer: <%= @writer %></p>
  <p>Actors: <%= @actors %></p>
  <p>Plot: <%= @plot %></p>
  <p><img src="<%= @poster %>" alt="Movie Poster" style="width:400px;height:600;"></p>
