<a href="/users">Back to Users</a>

<h2><%= @user.username %></h2>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.email %></p>
<p><%= @user.bio %></p>
<p><%= @user.phone %></p>
<p><%= @user.age %></p>
<a href="/festival_attendance/<%= @user.id %>">Festivals</a><span> I've been to.</span>
<p><img class="size_profile" src="<%= @user['profile_image'] %>"></p>

<a href="/user/edit/<%= @user.id %>">Edit User</a>

<form method="post" action="/user/delete/<%= @user.id %>">
</br>
  <button type="submit">Delete User</button>
</form>
